<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UpNode</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/flip.css">
    
</head>
<body>
    <div id="video-bg">
        <video id = "vid" autoplay muted loop>
            <source src="/vid/rain.mp4" type="video/mp4">
            <source src="/vid/rain.ogg" type="video/ogg">
        </video>
    </div>

    <div class="menu-container">
        
        <div class="flip-container">
        <span class="back-arrow">&#8592;</span>
        <div class="theflip">
        <div class="menu">
            <h1>Welcome to the UpNode.loc</h1>
            <p class="notif"></p>
            <h2><a href="#">Upload File</a></h2>
            {{#if theUser}}
                <ul>
                     <li class="out"><a href="#">Log Out</a></li>
                </ul>
            {{else}}
            <ul>
                <li class="up"><a href="#">Sign Up</a></li>
                <li class="in"><a href="#">Sign In</a></li>
            </ul>
             {{/if}}
        </div>

        <div class="signup">
            <form action="" method="post">
                <label for="email">Email</label>
                <input class = "email" type="text" name="email" >

                <label for="username">Username</label>
                <input class = "username" type="text" name="username">

                <label for="password">Password</label>
                <input class = "password" type="password" name="password" >

                <label for="password2">Confirm Password</label>
                <input class = "password2" type="password" name="password2" >

                <input type="hidden" name="up">

                <button class='submit' type="submit" >Sign Up</button>
            </form>
        </div>

        <div class="signin">
            <form action="" method="post">
                <label for="email">Email</label>
                <input class = "email" type="text" name="email" >

                <label for="password">Password</label>
                <input class = "password" type="password" name="password" >

                <input type="hidden" name="in">

                 <button class='submit' type="submit"  onclick="e.preventDefault()" >Sign In</button>

                 
            </form>

           
        </div>
        
        </div>
        </div>
            
        
    </div>
    
  
   
    {{>footer}}
<script  src="/javascripts/script.js"></script>
    <script  src="/javascripts/forms.js"></script>
    
</body>
</html>