<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UpNode</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/flip.css">
</head>
<body>
    <div id="video-bg">
        <video id = "vid" autoplay="autoplay" loop>
            <source src="/vid/rain.mp4" type="video/mp4">
        </video>
    </div>

    <div class="menu-container">
        
        <div class="flip-container">
        <span class="back-arrow">&#8592;</span>
        <div class="theflip">
        <div class="menu">
            <h1>Welcome to the UpNode.loc</h1>
            <h2><a href="#">Upload File</a></h2>
            <ul>
                <li class="up"><a href="#">Sign Up</a></li>
                <li class="in"><a href="#">Sign In</a></li>
            </ul>
        </div>

        <div class="signup">
            <form action="#">
                <label for="email">Email</label>
                <input id = "email" type="text" name="email" required>

                <label for="username">Username</label>
                <input id = "username" type="text" name="username">

                <label for="password">Password</label>
                <input id = "password" type="password" name="password" required>

                <label for="password2">Confirm Password</label>
                <input id = "password2" type="password" name="password2" required>

                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="signin">
            <form action="#">
                <label for="email">Email</label>
                <input id = "email" type="text" name="email" required>

                <label for="password">Password</label>
                <input id = "password" type="password" name="password" required>

                 <button type="submit">Sign In</button>
            </form>
        </div>
        
        </div>
        </div>
            
        
    </div>
    
    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>
</html>